
body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: black; 
}

.quem-somos{
    background-color: azure;
    color:gray;
}

.parceiros{
    background-color: gray;
    color:azure;
}

.servicos{
    background-color:azure;
    color:gray;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.bg-footer{
    background-color: black;
    color: white;
}
